<div class="registration">
<h2 class="logintitle">Sign up</h2>
<p class='logintext'>World class performing arts training is just on the other side of this page...</p>
<img src="" alt="" class="loginimg">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

<div class="field">
              <%= f.text_field :first_name,
                      placeholder: "Name", label: false,
                      autofocus: true,
                      input_html: { autocomplete: "first_name" }%>
            </div>

<div class="field">
          <%= f.text_field :last_name, as: :text,
                      placeholder: "Last Name", label: false,
                      autofocus: true,
                      input_html: { autocomplete: "about_me" }%>
        </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
