 <div class="topnav">
  <%= image_tag('profile-image', class:'profile-image') %>
  <%= link_to root_path do %>
  <div>Home</div>
  <% end %>
  <%= link_to timetable_path do %>
  <div>The Course</div>
  <% end %>
  <%= link_to faqs_path do %>
  <div>FAQs</div>
  <% end %>
  <%= link_to  new_user_session_path do %>
  <div>Login</div>
  <% end  %>
</div>
