 <div id="mySidenav" class="sidenav">
  <div class="subnav">
  <a class="subnavbtn" href="#">Week 1 <i class="fa fa-caret-down"></i></a>
    <div class="subnav-content">
      <%= link_to "Monday", mondaywk1_path %>
      <%= link_to "Tuesday", tuesdaywk1_path %>
      <%= link_to "Wednesday", wednesdaywk1_path %>
      <%= link_to "Thursday", thursdaywk1_path %>
      <%= link_to "Friday", fridaywk1_path %>
    </div>
  </div>
    <div class="subnav">
    <a class="subnavbtn" href="#">Week 2 <i class="fa fa-caret-down"></i></a>
    <div class="subnav-content">
      <a href="#company">Monday</a>
      <a href="#team">Wednesday</a>
      <a href="#careers">Friday</a>
    </div>
  </div>
    <div class="subnav">
    <a class="subnavbtn" href="#">Week 3 <i class="fa fa-caret-down"></i></a>
    <div class="subnav-content">
      <a href="#company">Monday</a>
      <a href="#team">Wednesday</a>
      <a href="#careers">Friday</a>
    </div>
</div>
</div>
